@{
    ViewData["Title"] = "Home";
}
<style>
    body {
        background-image: url("../images/hospital-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .main-card {
        background-color: white;
        color: black;
    }

    .col-lg-3 {
        margin-top: 15%;
    }

    .col-xl-3 {
        margin-top: 15%;
    }

</style>
<body>
    <div class="row justify-content-center w-100">
        <div class="col-3 text-center mt-3 fw-bold main-card text-primary">
            Welcome To Admin Page
        </div>
    </div>
    <div class="row justify-content-around w-100">
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="main-card">
                <div class="fw-bold fs-5">
                    Departments / Clinics
                </div>
                <div>
                    From <a asp-controller="department" asp-action="create" class="router-text">here</a> you can add your departments.
                </div>
                <div class="mt-1">
                    And you can see your departments and do other operations from
                </div>
                <div class="mt-1">
                    <a asp-controller="department" asp-action="" class="router-text">Departments</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="main-card">
                <div class="fw-bold fs-5">
                    Work Schedules
                </div>
                <div>
                    From <a asp-controller="workSchedule" asp-action="create" class="router-text">here</a> you can add your work schedules.
                </div>
                <div class="mt-1">
                    And you can see your work schedules and do other operations from
                </div>
                <div class="mt-1">
                    <a asp-controller="workSchedule" asp-action="" class="router-text">Work Schedules</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="main-card">
                <div class="fw-bold fs-5">
                    Patients
                </div>
                <div>
                    From <a asp-controller="patients" asp-action="create" class="router-text">here</a> you can add your patients.
                </div>
                <div class="mt-1">
                    And you can add your patients , create appointments from
                </div>
                <div class="mt-1">
                    <a asp-controller="patient" asp-action="" class="router-text">Patients</a>
                </div>
            </div>
        </div>
    </div>
</body>