@using Hospital.Models.Hospital.RequestDto.Clinic;
@model AddClinicRequestDto;
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-5">
        <div class="main-card">
            <form asp-action="SendCreate">
                <input type="hidden" asp-for="DepartmentId" value="@ViewBag.departmentId" />
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Clinic Name">
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary w-100">Add Clinic</button>
                </div>
            </form>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger mt-3" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}