@model IEnumerable<Hospital.Models.Hospital.ResponseDto.GetAppointmentResponseDto>

@{
    ViewData["Title"] = "Departments";
}

<div class="d-flex justify-content-between align-items-center">
    <h4>Appointments</h4>
</div>

<div class="main-card mt-4">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 20%;">
                    Doctor Name
                </th>
                <th style="width: 20%;">
                    User Email
                </th>
                <th class="text-center" style="width: 20%;">
                    Day
                </th>
                <th class="text-center" style="width: 20%;">
                    Time
                </th>
                <th style="width: 20%;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.DoctorName
                    </td>
                    <td>
                        @item.PatientName
                    </td>
                    <td class="text-center">
                        @item.Day
                    </td>
                    <td class="text-center">
                        @item.Time
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


